@use "variables" as *;
@use "theme" as *;

$icon-size-grid-situacao: 16px;

.main-container {
    display: flex;
    flex-direction: column;
    padding: $popup-titulo-padding-y 25px;
    //  height: calc($popup-titulo-height - calc($popup-titulo-padding-y * 2));
}

.header-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;

    .action-container {
        display: flex;
        flex-direction: row;

        button {
            height: 56px;
            margin-right: 8px;
            color: $color-search-font;
        }
    }

    .search {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
}

.table-historico {
    table {
        width: 100%;

        th {
            color: $font-table-header;
            background-color: $background-table-header;
        }
    }

    tr:hover {
        td {
            color: white;
            cursor: pointer;
        }

        background-color: $sgm-primary-color;
    }


    .situacao-liberado {
        color: #174290;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-top: 5px;

        mat-icon {
            padding-top: 5px;
            font-size: $icon-size-grid-situacao;
        }
    }

    .situacao-em-carregamento {
        color: #FB9927;
        display: flex;
        flex-direction: row;
        align-items: center;

        mat-icon {
            padding-top: 5px;
            font-size: $icon-size-grid-situacao;
        }
    }

    .situacao-bloqueado {
        color: #E82F2F;
        display: flex;
        flex-direction: row;
        align-items: center;

        mat-icon {
            padding-top: 5px;
            font-size: $icon-size-grid-situacao;
        }
    }

    .situacao-faturado {
        color: #0FAB60;
        display: flex;
        flex-direction: row;
        align-items: center;

        mat-icon {
            padding-top: 5px;
            font-size: $icon-size-grid-situacao;
        }
    }

    .situacao-cancelado {
        color: #9E9E9E;
        display: flex;
        flex-direction: row;
        align-items: center;

        mat-icon {
            padding-top: 5px;
            font-size: $icon-size-grid-situacao;
        }
    }
}


.titulo-paginator {
    margin-top: auto;
}

mat-paginator {
    display: flex;
    justify-content: center;
}