<div class="agendamentos-container">
    <mat-card class="mat-card-agendamentos">
      <mat-card-content>
        <div class="header">
          <span class="title">Agendamentos</span>
          <div class="table-actions">
            <!-- Botão para incluir novo agendamento -->
            <button mat-flat-button color="primary" (click)="onAgendamentoPedido()">
              Incluir Agendamento
            </button>
          </div>
        </div>
  
        <!-- Tabela com agendamentos -->
        <div class="table-agendamentos">
          <table mat-table [dataSource]="dataSource" matSort>
            
            <!-- Coluna ID do agendamento -->
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef>ID</th>
              <td mat-cell *matCellDef="let agendamento">{{agendamento.id}}</td>
            </ng-container>
  
            <!-- Coluna Horário -->
            <ng-container matColumnDef="pedido">
              <th mat-header-cell *matHeaderCellDef>Pedido</th>
              <td mat-cell *matCellDef="let agendamento">{{agendamento.pedido}}</td>
            </ng-container>

            <!-- Coluna Data do agendamento -->
            <ng-container matColumnDef="data">
              <th mat-header-cell *matHeaderCellDef>Data</th>
              <td mat-cell *matCellDef="let agendamento">{{agendamento.data | date: 'dd/MM/yyyy'}}</td>
            </ng-container>
  
            <!-- Coluna Horário -->
            <ng-container matColumnDef="horario">
              <th mat-header-cell *matHeaderCellDef>Horário</th>
              <td mat-cell *matCellDef="let agendamento">{{agendamento.horario}}</td>
            </ng-container>
  
            <!-- Coluna Status -->
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef>Status</th>
              <td mat-cell *matCellDef="let agendamento">{{agendamento.status}}</td>
            </ng-container>
  
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  