@use "@angular/material" as mat;
@use "sass:map";

$color-login-high-emphasis: #686E7C;
$color-search-font: #ADA7A7;
$font-table-header: #9E9E9E;
$table-vertical-row: #F2F2F2;
$background-table-header: #F7F7F7;
$popup-fixed-title-height: 53px;
$popup-atendimento-height: 702px;
$popup-atendimento-padding-y: 33px;
$popup-oferta-height: 460px;
$popup-validade-height: 333px;
$color-desconto: #45D493;
$client_block_color: #FB9927;
$sefaz_block_color: #009CD2;
$popup-titulo-height: 702px;
$popup-titulo-padding-y: 33px;
$client_block_definitive_color: #ff0f0f;
$default_background: #F2F2F2;