.agendamentos-container {
    padding: 20px;
  }
  
  .mat-card-agendamentos {
    width: 100%;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .title {
    font-size: 20px;
    font-weight: bold;
  }
  
  .table-agendamentos {
    margin-top: 20px;
  }

  .button-spacer {
    width: 10px; /* Define o espaço entre os botões */
    display: inline-block;
  }
  