@use "variables" as *;
@use "theme" as *;

.main-container {
    display: flex;
    flex-direction: column;
    padding: $popup-titulo-padding-y 25px;
    height: calc($popup-titulo-height - calc($popup-titulo-padding-y * 2));
}

.table-devolucoes {
    table {
        th {
            color: $font-table-header;
            background-color: $background-table-header;
        }
    }

    tr:hover {
        td {
            color: white;
            cursor: pointer;
        }

        background-color: $sgm-primary-color;
    }
}

.devolucoes-paginator {
    margin-top: auto;
}

mat-paginator {
    display: flex;
    justify-content: center;
}


.header-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;

    .action-container {
        display: flex;
        flex-direction: row;

        button {
            height: 56px;
            margin-right: 8px;
            color: $color-search-font;
        }
    }

    .search {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
}