@use "variables" as *;
@use "theme" as *;

@mixin ajustaTamanhoFonte($tamanho) {
    font-size: $tamanho;
}

$medium-font: 14px;
$max-resolution: 1400px;
$small-font: 12px;

.background-container {
    height: calc(100vh - 85px);
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    background-color: $default_background;
}

.route-card {
    margin: 0 120px 20px 120px;
}

.route-card-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.value-header {
    font-weight: bold;

    @include ajustaTamanhoFonte($medium-font);

    @media (min-width: $max-resolution) {
        @include ajustaTamanhoFonte($small-font);
    }
}

.route-path-content {
    display: flex;
    flex-direction: row;
}

.route-separator {
    font-weight: bold;
    padding-left: 9px;
    padding-right: 9px;
}

.route-sub-path {
    font-style: italic;
}

.pedidos-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 120px 0px 120px;
}

.title {
    font-size: 18px;
    color: #454545;
    font-weight: bold;
    margin-bottom: 24px;
}

.mat-card-filtro {
    display: flex;
    flex-direction: column;
    width: 20%;
}


.mat-card-vendas {
    width: 79%;
}

mat-card-header {
    font-weight: bold;
}

.table-vendas {
    height: 600px;
    overflow-y: auto;

    table {
        width: 100%;

        th {
            color: $font-table-header;
            background-color: $background-table-header;
        }
    }

    tr:hover {
        td {
            color: white;
            cursor: pointer;
        }

        background-color: $sgm-primary-color;
    }
}

.button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
    margin-top: 5px;

    span {
        font-size: 14px;
        color: $sgm-primary-color;
        font-weight: bold;
    }

    button {
        color: $sgm-primary-color;
    }
}

.filtros-input {
    display: flex;
    flex-direction: column;
}


.check-conteiner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}


.check-list {
    display: flex;
    flex-direction: column;

    span {
        font-size: 10px;
        color: $sgm-primary-color;
        font-weight: bold;
    }
}

.space {
    height: 5px;
}


.situacao-liberado {
    background-color: #D6E6C1;
    color: #58870B;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.situacao-liberado-texto {
    color: #174290;
    display: flex;
    flex-direction: column;
}

.situacao-em-carregamento {
    background-color: #FDF9D3;
    color: #F5C009;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.situacao-em-carregamento-texto {
    color: #FB9927;
    display: flex;
    flex-direction: column;
}

.situacao-bloqueado {
    background-color: #FFDCD1;
    color: #FF6233;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.situacao-bloqueado-texto {
    color: #FF6233;
    display: flex;
    flex-direction: column;
}

.situacao-faturado {
    background-color: #8dec10;
    color: #3c5e07;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.situacao-faturado-texto {
    color: #0FAB60;
    display: flex;
    flex-direction: column;
}

.situacao-cancelado-texto {
    color: #9E9E9E;
    display: flex;
    flex-direction: column;
}


mat-paginator {
    display: flex;
    justify-content: center;
}


.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.title {
    font-size: 18px;
    color: #454545;
    font-weight: bold;
    margin-bottom: 24px;
}

.table-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70px;
}

.center-icon {
    padding-left: 12px;
}

.client_block {
    color: $client_block_color;
}

.sefaz_block {
    color: $sefaz_block_color;
}

.client_block_definitive {
    color: $client_block_definitive_color;
}

.tooltipLegenda {
    padding: 17px;
    border-radius: 8px;
    background-color: white;
    border: 1px solid #EAEAEA;

    div {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    div+div {
        margin-bottom: 6px;
    }

    span {
        color: $color-search-font;
    }
}

.clientesemcompras {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.clientesemcomprasvalor {
    padding-left: 10px;
    width: 65px;
    height: 60px;
}

.classesvenda {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.select-filter {
    width: 100%;
    height: 65px;
}

.btn-cadastrar-cliente {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    color: $sgm-primary-color;
    width: 100%;
    height: 55px;
    border: 1px solid $sgm-primary-color;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}