<div class="container">
  <app-logo class="logo"></app-logo>
  <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
    <div class="password-form">
      <mat-form-field>
        <mat-label>Senha atual</mat-label>
        <input matInput placeholder="Senha atual" type="password" formControlName="senhaAtual">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Nova Senha</mat-label>
        <input matInput placeholder="Nova senha" type="password" formControlName="senhaNova">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Confirme a Nova Senha</mat-label>
        <input matInput placeholder="Nova senha" type="password" formControlName="confirmacaoSenhaNova" [errorStateMatcher]="errorMatcher">
        <mat-error *ngIf="this.errors.match === false">As novas senhas inseridas não conferem.</mat-error>
      </mat-form-field>
    </div>
    <div class="reset-button">
      <button mat-raised-button type="submit">Alterar senha</button>
    </div>
  </form>
</div>
