.container {
  display: flex;
  padding: 32px;
  flex-direction: column;
}

.logo {
  margin-bottom: 32px;
}

form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.password-form {
  display: flex;
  align-items: center;
  padding-bottom: 12px;
  flex-direction: column;
}

.reset-button {
  margin-top: 12px;
}
